* {box-sizing: border-box}
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
#Home{
  background-image:url("images/Bg1.jpg");
  background-attachment: fixed;
  background-size: cover;
}
#Projects{
  background-image:url("images/Yellow.jpg");
  background-attachment: fixed;
  background-size: cover;
}
#Certifications{
  background-image:url("images/rainbow.jpg");
  background-attachment: fixed;
  background-size: cover;
}
#Contact{
  background-image:url("images/trees-birds.jpg");
  background-attachment: fixed;
  background-size: cover;
}
#Publications{
 background-color: #CFA1F7;
}
h3{
    text-align:center;
    font-size: 50px;
}
.image1{
    width: 50%;
    height: 100%;
    display:block;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    border-radius:50%;
    }

.image{
  width: 60%;
  height: 200%;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.image2{
  width: 100%;
  height: 200%;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.tablink {
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 14.28%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #0c0c0c;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.box{
  width:450px;
  background: rgba(250, 240, 240, 0.4);
  text-align:center;
  padding:40 px;
  margin: auto;
  margin-top: 2%;
  color:black;
  font-family: "Georgia", Serif;
}
.box3{
  width:450px;
  padding:40 px;
  margin: auto;
  margin-top: 4%;
  color:black;
  font-family: "Georgia", Serif;
  text-align: center;
}
.box1{
  width:225px;
  height:50%;
  margin-left:550px;
}
p.a{ 
  word-spacing: 10px;
}


#Internship{background-color: white;}
#Skills {background-color: white;}


.container1{
  width:450px;
  text-align:center;
  padding:40 px;
  margin: auto;
  color:black;
  font-family: "Georgia", Serif;
}



.container {
  width: 60%;
  background-color: #ddd;
  margin-left:100px;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.python {width: 90%; background-color: #4CAF50;}
.c {width: 80%; background-color: #048af7;}
.research{width: 65%; background-color: #f44336;}
.wd {width: 60%; background-color: #eb08f3;}
.java {width: 50%; background-color: orange;}


.box2{
  width:800px;
  text-align:center;
  padding:40 px;
  margin: auto;
  margin-top: 5%;
}


.col1 {
  float: left;
  width: 50%;
  padding: 30px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}
